@{
    ViewBag.Title = "";
}


<table>
    <tr>
        <td>
            <h3><a href="/Payment/CreateOrder">Create Order (User)</a></h3>
        </td>
        <td>
            <h3><a href="/Payment/GetTransactionDetails">Pending Transaction (Admin)</a></h3>
        </td>
        <td>
            <h3><a href="/Payment/GetTransactionDetailsCompleted">Completed Transaction (Admin)</a></h3>
        </td>
      
    </tr>

</table>
@RenderBody()


